
{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{/if}}
<table border="0">
    <tr>
        <td>
            <h3>{{tempQuestion.content}}</h3>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>{{tempQuestion.updateDate}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<hr>
{{#each ans}}
<p>{{this.answer}}</p>
<div>Upvote - {{this.upvoteCount}}</div>
<div>Written on - {{this.updateDate}}</div>
<div>AuthorID - {{this.authorid}}</div>
<hr>
{{/each}}
<center>
    <form method="post" action="/users/answer">
        <div class="form-group">
            {{!-- <label>Name</label> --}}
            <textarea class="form-group" rows="4" cols="50" placeholder="Enter Answer" name="ansContent"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
        <br>
    </form>