<!-- Middle Column -->
User: {{user.name}}<br>
Email: {{user.email}}<br>
UID: {{user.uid}}<br><br>
<table border="0">
  {{# each items }}
  <tr>
    <td>
      <a href="/users/answer?id={{this.qid}}">
        <h4>{{this.content}}</h4>
      </a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>AuthorID: {{ this.authorid }}</td>
  </tr>
  {{/each}}
</table>